<header class="navbar">

    <!-- Logo -->

    <div class="logo" routerLink="/">

        <div class="logo-icon">
            📚
        </div>

        <h2>Librarium</h2>

    </div>


    <!-- Links -->

    <nav>

        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            Home
        </a>

        <a routerLink="/my-books" routerLinkActive="active">
            My Books
        </a>

        <a href="#">
            Admin
        </a>

    </nav>


    <!-- Right -->
     <button class="menu-btn"
(click)="toggleMenu();$event.stopPropagation()">

☰

</button>

    <div class="actions">

    <button (click)="toggleDarkMode();$event.stopPropagation()">

        {{darkMode ? '☀️':'🌙'}}

    </button>

    <div class="dropdown">

        <button (click)="toggleNotifications();$event.stopPropagation()">

            🔔

        </button>

        <div class="menu" *ngIf="showNotifications">

            <h4>Notifications</h4>

            <p>📚 Atomic Habits is available</p>

            <p>⏰ Return your book tomorrow</p>

            <p>✨ New books added</p>

        </div>

    </div>

    <div class="profile dropdown">

        <div class="profile-box"

            (click)="toggleProfile();$event.stopPropagation()">

            <img src="https://i.pravatar.cc/50">

            <span>Shahd</span>

        </div>

        <div class="menu profile-menu"

            *ngIf="showProfile">

            <p>👤 Profile</p>

            <p>⚙ Settings</p>

            <hr>

            <p class="logout">Logout</p>

        </div>

    </div>

</div>

</header>
<div
class="mobile-menu"

*ngIf="mobileMenu"

(click)="$event.stopPropagation()">

<a routerLink="/">Home</a>

<a routerLink="/my-books">My Books</a>

<a href="#">Admin</a>

<hr>

<a href="#">Profile</a>

<a href="#">Logout</a>

</div>