<app-admin-navbar></app-admin-navbar>

<div class="book-card">

  <div class="header">
    <h2>Add Book</h2>
  </div>

  <form [formGroup]="bookForm" (ngSubmit)="save()">

    <div class="form-group">
      <label>Title</label>
      <input class="form-control" formControlName="title">

      <div class="text-danger" *ngIf="title.touched && title.hasError('required')">
        Title is required.
      </div>
    </div>

    <div class="form-group">
      <label>Author</label>
      <input class="form-control" formControlName="author">

      <div class="text-danger" *ngIf="author.touched && author.hasError('required')">
        Author is required.
      </div>
    </div>

    <div class="form-group">
      <label>Description</label>
      <input class="form-control" formControlName="description">
    </div>

    <div class="form-group">
      <label>Image URL</label>
      <input class="form-control" formControlName="image">
    </div>

    <div class="form-group">
      <label>Price</label>
      <input type="number" class="form-control" formControlName="price">
    </div>

    <div class="form-group">
      <label>Category</label>
      <input class="form-control" formControlName="category">

      <div class="text-danger" *ngIf="category.touched && category.hasError('required')">
        Category is required.
      </div>
    </div>

    <div class="form-group">
      <label>Total Copies</label>
      <input type="number" class="form-control" formControlName="totalCopies">

      <div class="text-danger" *ngIf="totalCopies.touched && totalCopies.hasError('required')">
        Total Copies is required.
      </div>
    </div>

    <div class="form-group">
      <label>Available Copies</label>
      <input type="number" class="form-control" formControlName="availableCopies">

      <div class="text-danger" *ngIf="availableCopies.touched && availableCopies.hasError('required')">
        Available Copies is required.
      </div>
    </div>

    <div class="form-group">
      <label>Rating</label>
      <input type="number" class="form-control" formControlName="rating">
    </div>

    <div class="form-check mb-3">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="featured"
        id="featured">

      <label class="form-check-label" for="featured">
        Featured Book
      </label>
    </div>

    <div class="buttons">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="bookForm.invalid">
        Save
      </button>

      <button
        type="button"
        class="btn btn-secondary"
        (click)="cancel()">
        Cancel
      </button>
    </div>

  </form>

</div>
