.dashboard-card{

    border:none;

    border-radius:15px;

    padding:25px;

    text-align:center;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    transition:.3s;

}

.dashboard-card:hover{

    transform:translateY(-6px);

}

.dashboard-card h5{

    color:#777;

}

.dashboard-card h2{

    margin-top:15px;

    color:#4f46e5;

    font-weight:bold;

    font-size:38px;

}
